<!DOCTYPE html>
<html>
<head>
    <title>Flood Prediction</title>
</head>
<body>
    <div>
        <h1>Flood Prediction</h1>
        <form action="/predict" method="post">
            <label for="Tn">Tn:</label>
            <input type="text" name="Tn" required><br>
            <label for="Tx">Tx:</label>
            <input type="text" name="Tx" required><br>
            <label for="Tavg">Tavg:</label>
            <input type="text" name="Tavg" required><br>
            <label for="RH_avg">RH_avg:</label>
            <input type="text" name="RH_avg" required><br>
            <label for="RR">RR:</label>
            <input type="text" name="RR" required><br>
            <label for="ss">ss:</label>
            <input type="text" name="ss" required><br>
            <label for="ff_x">ff_x:</label>
            <input type="text" name="ff_x" required><br>
            <input type="submit" value="Predict">
        </form>
        {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %}
    </div>
</body>
</html>
